<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Improve Your Financial Status</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link rel="icon" type="image/x-icon" href="/images/Resilient-Grow1.webp" />
    <style>
        body {
            background-image: url("/images/cooming\ soon.webp");
            background-size: cover;
            background-repeat: no-repeat;
            background-position-x: center;
            background-position-y: top;
            padding-top: 25px;
        }

        .theme {
            display: none !important
        }

        a.fs-6 {
            text-decoration: none;
            display: inline-block;
            display: flex;
            max-width: max-content;
            margin: auto;
            background-color: #fff;
            color: #225593;
            height: unset;
            padding: 15px 30px;
            border-radius: 80px
        }

        @media (max-width:600px) {
            body {
                background-image: url("/images/coming-soon-sm.webp");
                background-position-x: center;
                background-position-y: top;
            }
        }
    </style>
  </head>
  <body>
    <a class="fs-6" href="/">Go back to home page</a>
  </body>
</html>
