<%- include("partials/header.ejs") %>

<section id="home" class="hero">
  <div class="container px-5 px-lg-5 py-5 py-xl-0">
    <div class="row flex-column-reverse flex-lg-row-reverse align-items-center py-5">
      <div class="col-lg-6">
        <div class="vid-cover position-relative">
          <video class="lap" autoplay="autoplay" muted loop>
            <source src="/videos/hero-vid.mp4" />
          </video>
          <div class="unmute position-absolute">
            <img
              class="position-absolute"
              src="/icons/mute.png"
              alt=""
            />
          </div>
          <div class="mute position-absolute d-none">
            <img
              class="position-absolute"
              src="/icons/volume.png"
              alt=""
            />
          </div>
        </div>
      </div>
      <div class="col-lg-6 video-box">
        <h1 class="display-5 fw-bold text-body-emphasis mb-3" id="heroh1">
          Change Your Trading Habit & It's Mindset
        </h1>
        <p class="lead my-4">
          Resilient Grow is a trusted choice for thousands of satisfied
          traders and investors in India. If you're eager to work toward
          your future goals, consider beginning your educational journey
          with us.
        </p>
        <div
          class="d-grid d-flex align-items-center justify-content-center justify-content-lg-start mt-5"
        >
          <a
            href="https://shorturl.at/loCD6"
            type="button"
            class="btn effect hero-btn rounded-pill btn-lg px-4 me-md-2 blue btn-101"
            target="_blank"
            >Start Learning With Free Demo
            <svg>
              <defs>
                <filter id="glow">
                  <fegaussianblur
                    result="coloredBlur"
                    stddeviation="5"
                  ></fegaussianblur>
                  <femerge>
                    <femergenode in="coloredBlur"></femergenode>
                    <femergenode in="coloredBlur"></femergenode>
                    <femergenode in="coloredBlur"></femergenode>
                    <femergenode in="SourceGraphic"></femergenode>
                  </femerge>
                </filter>
              </defs>
              <rect />
            </svg>
            </a
          ><a
            href="https://t.me/resilientgrow"
            type="button"
            class="btn rounded-pill ms-3 ms-lg-4 twitter btn-lg px-4"
            target="_blank"
            ><img
              class="rounded-pill"
              src="/icons/telegram.gif"
              width="40"
              height="40"
              alt=""
          /></a>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="why" class="reviews">
  <div class="cover">
    <h2 class="text-center text-capitalize">how we are different?</h2>
    <!-- <h2 class="text-center text-capitalize">What people say about us?</h2> -->
    <!-- <p class="mt-4 mb-5 text-center">
      Pay attention to others words, not to us only.
    </p> -->
    <div class="why owl-carousel owl-theme pt-3 mt-5">
      <div class="owl-item">
        <div class="card why-card">
          <div class="card-img">
            <img src="/icons/workshop.png" width="100" alt="" />
          </div>
          <h4 class="my-4 text-capitalize">
            Practical Learning, Real Earnings
          </h4>
          <p>
            We believe in teaching you strategies that work in the real
            world. Our course focuses on practical knowledge that can help
            you earn, not just theories that sound good on paper.
          </p>
        </div>
      </div>
      <div class="owl-item">
        <div class="card why-card">
          <div class="card-img">
            <img src="/icons/personalized.png" width="100" alt="" />
          </div>
          <h4 class="my-4 text-capitalize">Personalized Support</h4>
          <p>
            Learning at your own pace is important. That's why we offer
            personalized support to ensure you understand and apply what you
            learn effectively.
          </p>
        </div>
      </div>
      <div class="owl-item">
        <div class="card why-card">
          <div class="card-img">
            <img src="/icons/tools.png" width="100" alt="" />
          </div>
          <h4 class="my-4 text-capitalize">Unique Tools for Success</h4>
          <p>
            Access unique analysis tools and resources not available
            elsewhere. Stay ahead in trading technology and techniques.
          </p>
        </div>
      </div>
      <div class="owl-item">
        <div class="card why-card">
          <div class="card-img">
            <img src="/icons/bulb.png" width="100" alt="" />
          </div>
          <h4 class="my-4 text-capitalize">Gain Expert Guidance</h4>
          <p>
            Get tips and tricks from experienced traders who share what they
            do every day. Learn from those who've been in the field and can
            show you how things work in real life.
          </p>
        </div>
      </div>
      <div class="owl-item">
        <div class="card why-card">
          <div class="card-img">
            <img src="/icons/investment.png" width="100" alt="" />
          </div>
          <h4 class="my-4 text-capitalize">Safe Investments, Big Gains</h4>
          <p>
            Staying safe with your money is super important in trading. Our
            course teaches you ways to protect your investments and increase
            your chances of doing well.
          </p>
        </div>
      </div>
      <div class="owl-item">
        <div class="card why-card">
          <div class="card-img">
            <img src="/icons/unorganized.png" width="100" alt="" />
            <img
              class="clos"
              src="/icons/cancel.png"
              width="100"
              alt=""
            />
          </div>
          <h4 class="my-4 text-capitalize">Simplify Your Finances</h4>
          <p>
            No more confusing finance talk! We keep it simple. Our reports
            and advice are easy to understand. Investing should be as clear
            as day, not a foreign language.
          </p>
        </div>
      </div>
      <div class="owl-item">
        <div class="card why-card">
          <div class="card-img">
            <img src="/icons/mountain.png" width="100" alt="" />
          </div>
          <h4 class="my-4 text-capitalize">Your Path to Success</h4>
          <p>
            Our course is your path to success in evolving markets. With
            lifetime updates, you'll always have the latest trading
            techniques and trends at your fingertips.
          </p>
        </div>
      </div>
      <div class="owl-item">
        <div class="card why-card">
          <div class="card-img">
            <img src="/icons/partnership.png" width="100" alt="" />
          </div>
          <h4 class="my-4 text-capitalize">Connect, Ask, Achieve</h4>
          <p>
            Become part of our trader community, where you can share
            experiences, ask questions, and get continuous support. You're
            never alone on your journey to success.
          </p>
        </div>
      </div>
      <div class="owl-item">
        <div class="card why-card">
          <div class="card-img">
            <img src="/icons/education.png" width="100" alt="" />
          </div>
          <h4 class="my-4 text-capitalize">Education for All</h4>
          <p>
            Quality education should be affordable. Our course offers
            excellent value for both beginners and experienced traders,
            making it accessible to everyone.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="offer" class="offering">
  <h2>
    <span>We Also Offer</span>
    <ul>
      <li class="hide">Mutual Funds</li>
      <li class="hide">Stocks</li>
      <li class="hide">F & O</li>
      <li class="hide">Bike Insurance</li>
      <li class="hide">Car Insurance</li>
      <li class="hide">Health Insurance</li>
      <li class="hide">Life Insurance</li>
      <li class="hide">Algo Trading</li>
    </ul>
  </h2>
  <div class="container">
    <div class="offer-grid justify-content-center d-grid text-center">
      <a href="http://p.njw.bz/25753" class="offer-card">
        <img
          class="mb-4 mt-3"
          src="/icons/capitalization (1).png"
          alt=""
        />
        <h5>Mutual Funds</h5>
      </a>
      <a href="https://hdfcsky.page.link/do7Y" class="offer-card">
        <img
          class="mb-4 mt-3"
          src="/icons/trading (1).png"
          alt=""
        />
        <h5>Stocks</h5>
      </a>
      <a href="https://hdfcsky.page.link/do7Y" class="offer-card">
        <img
          class="mb-4 mt-3"
          src="/icons/digital-transformation.png"
          alt=""
        />
        <h5>Future & Option</h5>
      </a>
      <a href="https://shorturl.at/loCD6" class="offer-card">
        <img class="mb-4 mt-3" src="/icons/heavy.png" alt="" />
        <h5>Bike Insurance</h5>
      </a>
      <a href="https://shorturl.at/loCD6" class="offer-card">
        <img class="mb-4 mt-3" src="/icons/car.png" alt="" />
        <h5>Car Insurance</h5>
      </a>
      <a href="https://shorturl.at/loCD6" class="offer-card">
        <img
          class="mb-4 mt-3"
          src="/icons/stethoscope.png"
          alt=""
        />
        <h5>Health Insurance</h5>
      </a>
      <a href="https://shorturl.at/loCD6" class="offer-card">
        <img
          class="mb-4 mt-3"
          src="/icons/family-insurance.png"
          alt=""
        />
        <h5>Life Insurance</h5>
      </a>
      <a href="https://fas.st/t/MSkxE2fJ" class="offer-card">
        <img
          class="mb-4 mt-3"
          src="/icons/artificial-intelligence.png"
          alt=""
        />
        <h5>Algo Trading</h5>
      </a>
    </div>
  </div>
</section>

<section id="reviews" class="reviews">
  <div class="cover">
    <h2 class="text-center text-capitalize">What people say about us?</h2>
    <p class="mt-4 mb-5 text-center">
      Pay attention to others words, not to us only.
    </p>
    <div class="owl-carousel review owl-theme pt-3 mt-5">
      <div class="owl-item">
        <div class="card">
          <div class="img-card">
            <video
              height="460"
              autoplay
              muted
              loop
              controls
              controlslist="nodownload noplaybackrate"
              disablepictureinpicture
            >
              <source src="/videos/review-1.mp4" type="video/mp4" />
            </video>
          </div>
        </div>
      </div>
      <div class="owl-item">
        <div class="card">
          <div class="img-card">
            <video
              height="460"
              autoplay
              muted
              loop
              controls
              controlslist="nodownload noplaybackrate"
              disablepictureinpicture
            >
              <source src="/videos/review-2.mp4" type="video/mp4" />
            </video>
          </div>
        </div>
      </div>
      <div class="owl-item">
        <div class="card">
          <div class="img-card">
            <video
              height="460"
              autoplay
              muted
              loop
              controls
              controlslist="nodownload noplaybackrate"
              disablepictureinpicture
            >
              <source src="/videos/review-3.mp4" type="video/mp4" />
            </video>
          </div>
        </div>
      </div>
      <div class="owl-item">
        <div class="card">
          <div class="img-card">
            <video
              height="460"
              autoplay
              muted
              loop
              controls
              controlslist="nodownload noplaybackrate"
              disablepictureinpicture
            >
              <source src="/videos/review-4.mp4" type="video/mp4" />
            </video>
          </div>
        </div>
      </div>
      <div class="owl-item">
        <div class="card">
          <div class="img-card">
            <video
              height="460"
              autoplay
              muted
              loop
              controls
              controlslist="nodownload noplaybackrate"
              disablepictureinpicture
            >
              <source src="/videos/review-5.mp4" type="video/mp4" />
            </video>
          </div>
        </div>
      </div>
      <div class="owl-item">
        <div class="card">
          <div class="img-card">
            <video
              height="460"
              autoplay
              muted
              loop
              controls
              controlslist="nodownload noplaybackrate"
              disablepictureinpicture
            >
              <source src="/videos/review-6.mp4" type="video/mp4" />
            </video>
          </div>
        </div>
      </div>
      <div class="owl-item">
        <div class="card">
          <div class="img-card">
            <video
              height="460"
              autoplay
              muted
              loop
              controls
              controlslist="nodownload noplaybackrate"
              disablepictureinpicture
            >
              <source src="/videos/review-7.mp4" type="video/mp4" />
            </video>
          </div>
        </div>
      </div>
      <div class="owl-item">
        <div class="card">
          <div class="img-card">
            <video
              height="460"
              autoplay
              muted
              loop
              controls
              controlslist="nodownload noplaybackrate"
              disablepictureinpicture
            >
              <source src="/videos/review-8.mp4" type="video/mp4" />
            </video>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="course" class="course">
  <div class="container-lg">
    <h2 class="text-center text-capitalize">
      we are here to help, whatever you require
    </h2>
    <div class="course-grid justify-content-center d-grid text-center">
      <div class="course-card">
        <div class="thumbnail">
          <img src="/images/course-4.webp" alt="" />
        </div>
        <div class="course-detail">
          <h5 class="mb-4 text-capitalize">How to trade using indicator</h5>
          <a
            href="https://cosmofeed.com/view_ch/878ac003-484e-4541-9827-1542e181625c"
            target="_blank"
            type="button"
            class="btn effect hero-btn rounded-pill btn-lg px-4 blue btn-101"
            >Browse Course
            </a
          >
        </div>
      </div>
      <div class="course-card">
        <div class="thumbnail">
          <img src="/images/course-1.webp" alt="" />
        </div>
        <div class="course-detail">
          <h5 class="mb-4 text-capitalize">How to trade range breakout</h5>
          <a
            href="https://cosmofeed.com/view_ch/03da2ce7-2ba0-4410-b342-454dfc54e10e"
            target="_blank"
            type="button"
            class="btn effect hero-btn rounded-pill btn-lg px-4 blue btn-101"
            >Browse Course
            </a
          >
        </div>
      </div>
      <div class="course-card">
        <div class="thumbnail">
          <img src="/images/course-2.webp" alt="" />
        </div>
        <div class="course-detail">
          <h5 class="mb-4 text-capitalize">
            How to trade gap up and gap down
          </h5>
          <a
            href="https://cosmofeed.com/view_ch/d450bbed-115b-4b44-8fbc-4f3c713f087d"
            target="_blank"
            type="button"
            class="btn effect hero-btn rounded-pill btn-lg px-4 blue btn-101"
            >Browse Course
            </a
          >
        </div>
      </div>
      <div class="course-card">
        <div class="thumbnail">
          <img src="/images/course-3.webp" alt="" />
        </div>
        <div class="course-detail">
          <h5 class="mb-4 text-capitalize">How to trade market scenario</h5>
          <a
            href="https://cosmofeed.com/view_ch/18338aa0-6e39-4413-b659-14456af56249"
            target="_blank"
            type="button"
            class="btn effect hero-btn rounded-pill btn-lg px-4 blue btn-101"
            >Browse Course
            </a
          >
        </div>
      </div>
      <div class="course-card">
        <div class="thumbnail">
          <img src="/images/course-5.webp" alt="" />
        </div>
        <div class="course-detail">
          <h5 class="mb-4 text-capitalize">How to trade with volume</h5>
          <a
            href="https://cosmofeed.com/view_ch/88d2bdad-4f3a-40ac-b0b1-3effb7a45bfe"
            target="_blank"
            type="button"
            class="btn effect hero-btn rounded-pill btn-lg px-4 blue btn-101"
            >Browse Course
            </a
          >
        </div>
      </div>
      <div class="course-card">
        <div class="thumbnail">
          <img src="/images/course-6.webp" alt="" />
        </div>
        <div class="course-detail">
          <h5 class="mb-4 text-capitalize">how to trade with oi data</h5>
          <a
            href="https://cosmofeed.com/view_ch/fd66582a-ea4b-4a28-831c-bd4b10e100e6"
            target="_blank"
            type="button"
            class="btn effect hero-btn rounded-pill btn-lg px-4 blue btn-101"
            >Browse Course
            </a
          >
        </div>
      </div>
    </div>
  </div>
</section>

<section id="contact" class="contact">
  <div class="container">
    <h2 class="text-center text-capitalize">feel free to contact me!</h2>
    <p class="text-center mx-auto mt-4">
      Stay connected with us on Facebook and Instagram to keep in touch and
      get the latest updates, news, and messages. We're dedicated to sharing
      our successful ways of doing business with you, to help you achieve
      success too.
    </p>
    <div class="contact-grid justify-content-center d-grid text-center">
      <div class="contact-card">
        <img
          class="my-4 mb-5 sub-img"
          src="/images/telegram.webp"
          alt=""
        /><a
          href="https://t.me/resilientgrow"
          target="_blank"
          type="button"
          class="btn hero-btn rounded-pill btn-lg px-4 mb-4 blue btn-101"
          ><img
            class="sub me-3"
            src="/icons/telegram-logo.png"
            width="20"
            alt=""
          /><span>Subscribe
          </span></a
        >
      </div>
      <div class="contact-card">
        <img
          class="my-4 mb-5 sub-img"
          src="/images/res-social.webp"
          alt=""
        /><a
          href="https://www.youtube.com/@resilientgrow?sub_confirmation=1"
          target="_blank"
          type="button"
          class="btn hero-btn rounded-pill btn-lg px-4 mb-4 blue btn-101"
          ><img
            class="sub me-3"
            src="/icons/youtubesymbol-1@2x.png"
            width="20"
            alt=""
          /><span>Subscribe
          </span></a
        >
      </div>
      <!-- <div class="contact-card">
        <img
          class="my-4 mb-5 sub-img"
          src="./assets/images/youtube.webp"
          alt=""
        /><a
          href="https://www.youtube.com/@niftybankniftyexpert?sub_confirmation=1"
          target="_blank"
          type="button"
          class="btn hero-btn rounded-pill btn-lg px-4 mb-4 blue"
          ><img
            class="sub me-3"
            src="./assets/icons/youtubesymbol-1@2x.png"
            width="20"
            alt=""
          /><span>Subscribe</span></a
        >
      </div> -->
      <div class="contact-card">
        <img
          class="my-4 mb-5 sub-img"
          src="/images/facebook.webp"
          alt=""
        /><a
          href="https://www.facebook.com/resilientgrow1"
          target="_blank"
          type="button"
          class="btn hero-btn rounded-pill btn-lg px-4 mb-4 blue btn-101"
          ><img
            class="sub me-3"
            src="/icons/facebook-logo.png"
            width="20"
            alt=""
          /><span>Subscribe
          </span></a
        >
      </div>
      <div class="contact-card">
        <img
          class="my-4 mb-5 sub-img"
          src="/images/Instagram.webp"
          alt=""
        /><a
          href="https://www.instagram.com/resilient.grow/"
          target="_blank"
          type="button"
          class="btn hero-btn rounded-pill btn-lg px-4 mb-4 blue btn-101"
          ><img
            class="sub me-3"
            src="/icons/instagram-logo.png"
            width="20"
            alt=""
          /><span>Subscribe
          </span></a
        >
      </div>
      <div class="contact-card">
        <img
          class="my-4 mb-5 sub-img"
          src="/images/twitter.webp"
          alt=""
        /><a
          href="https://twitter.com/resilientgrow"
          target="_blank"
          type="button"
          class="btn hero-btn rounded-pill btn-lg px-4 mb-4 blue btn-101"
          ><img
            class="sub me-3"
            src="/icons/twitter-logo.png"
            width="20"
            alt=""
          /><span>Subscribe
          </span></a
        >
      </div>
    </div>
  </div>
</section>

<section class="pop-up">
  <div class="form-container">
    <div class="left-part">
      <img src="/images/Grow-Indication.webp" height="510" alt="" />
    </div>
    <div class="right-part">
      <h1>Now Start Learning Freely</h1>
      <form
        action="https://submit.jotform.com/submit/233248955667471"
        method="POST"
        id="myForm"
      >
        <label for="name"
          ><input
            id="name"
            minlength="3"
            maxlength="50"
            type="text"
            name="q1_typeA"
            placeholder="Name"
            required /></label
        ><label for="Number"
          ><input
            id="Number"
            type="tel"
            name="q2_2"
            minlength="10"
            placeholder="Mobile Number"
            maxlength="10"
            required /></label
        ><label for="city"
          ><input
            id="city"
            minlength="3"
            type="text"
            name="q3_3"
            placeholder="City"
            required /></label
        ><label for="job"
          ><select
            class="form-select"
            aria-label="Default select example"
            name="q4_selectYour"
            id="job"
            required
          >
            <option value="">Select your profession</option>
            <option value="government">Government Job</option>
            <option value="private">Private Job</option>
            <option value="self">Self Employed</option>
            <option value="student">Student</option>
          </select></label
        ><label for="experience"
          ><select
            class="form-select"
            aria-label="Default select example"
            id="experience"
            name="q5_selectYour5"
          >
            <option value="">Select your experience level</option>
            <option value="beginner">Beginner</option>
            <option value="intermediate">Intermediate</option>
            <option value="experienced">Experienced</option>
          </select></label
        ><button id="btnSubmit" class="btn-101" type="submit">
          Let's succeed together
        </button>
      </form>
    </div>
    <img id="close" src="/icons/close.png" alt="" />
  </div>
</section>

<section class="pop-up cpu d-none visible opacity-100">
  <div class="d-grid gap-2 d-flex justify-content-start">
    <a href="/free-courses" class="btn hero-btn rounded-pill py-md-2 blue px-4 px-md-5 me-3 me-md-4 fs-6 fs-md-5">Free Courses
    </a>
    <button id="redirect" class="btn btn hero-btn rounded-pill py-md-2 px-4 px-md-5 blue fs-6 fs-md-5">Paid Courses
    </button>
  </div>
</section>

  <%- include("partials/footer.ejs") %>